@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*Asterisk wildcard selector used to overide default browser added styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic style*/
    color: #3a3a3a;
    font-family: 'Open sans', 'sans-serif';
}



/*Header*/
header {
    background-color: #ffffff;
    padding: 0 0.5rem;
    position: fixed;
    z-index: 50;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    flex: 1 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
}

#header-menu {
    font-size: 120%;
    list-style-type: none;
    letter-spacing: 4px;

}

#header-menu>li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Add dropdown toggle to nav bar with some styling*/
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
}


h1 {
    font-family: 'Montserrat', 'sans-serif';
    text-transform: uppercase;

}

.hidden-heading {
    display: none;
}

/*Main content*/
main {
    background-color: #ffffff;
    display: flex;
    /*Occupy available space to push footer down*/
    flex: 1 0 auto;
    margin-top: 36px;
}

/* main-photo styling*/
#main-photo {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-krukau-8436627.jpg") no-repeat center center/cover;
}

#main-text {

    padding: 5px;
    margin: 5px;
    display: block;
    text-align: justify;
}

#benefit-text,
#why-with-us-text {
    padding-top: 5px;
}

#benefit-text>h3,
#why-with-us-text>h3 {
    margin-top: 5px;
    text-align: center;
}

#benefit-text ul,
#why-with-us-text ul {
    margin-left: 5px;
    padding: 5px 5px 5px 20px;
}

.center {

    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#find-us {
    padding-left: 10px;
    margin-bottom: 10px;
}

#map {
    width: 100%;
    height: 200px;
    border: none;
}

/*Gallery page*/
#photos img {
    width: 100%;
    line-height: 1;
}

#photos {
    line-height: 0;

}

/* Form */
#join-us {
    background-image: url("../images/pexels-andrea-piacquadio-3775593.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;

}


.join-us-button:hover {
    color: black;
}

#join-us-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
    border-radius: 15px;

}


#join-us-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}


.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.join-us-button {
    margin-top: 20px;
    border-radius: 15px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #008000;
    color: #fafafa;
    box-shadow: none;

}



/*Footer*/
#social-pages {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 1rem;
    padding: 25px 0;
    text-align: center;
}

#social-pages i {
    font-size: 180%;
    color: #3a3a3a;
    padding: 5%;
}


/*Media query for phone screens (280px and more)*/
@media screen and (min-width:280px) {

    /*h1 resize to keep it on a single row for phone screens*/
    #logo {
        font-size: 28px;
        margin-top: 5px;
        margin-bottom: 5px;

    }
}

/*Media query for landscape screens (653px and more)*/
@media screen and (min-width:653px) {

    /*Main*/
    #benefit-text ul,
    #why-with-us-text ul {
        padding-left: 25px;

    }

    #benefit-text>h3,
    #why-with-us-text>h3 {
        text-align: left;
        padding-left: 10px;
    }

    #onboard-text {
        display: flex;
        gap: 5px;
        width: 100%;


    }

    #benefit-text {
        order: -1;


    }

    #why-with-us-text {
        order: 3;

    }

    #find-us {
        text-align: center;
    }
}

/*Media query for tablets and larger screens (768px and more)*/
@media screen and (min-width:768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #header-menu {
        display: flex;
    }

    #header-menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main*/
    main {
        /*Push main content further down to accommodate header's new size*/
        margin-top: 76px;

    }

    #onboard-text {
        padding-left: 30px;
    }

    /*Gallery*/
    #photos {
        column-count: 2;
        column-gap: 0;


    }

    #hide-img {
        display: none;
    }

    /*Large devices (laptops and desktops:992px and more)*/
    @media screen and (min-width:992px) {

        /*Main*/
        #header-menu a:hover {
            /*Show nav item is a link by underlining it when hovered*/
            border-bottom: 1px solid #3a3a3a;

        }

        #benefit-text {

            padding-left: 100px;
        }

        #why-with-us-text {

            padding-left: 90px;
        }

        #onboard-text {
            margin-left: 5px;
            margin-right: 5px;

        }

        /*Gallery*/
        #photos {
            column-count: 3;
            column-gap: 0;

        }

        #hide-img {
            display: block;
        }

    }

    /*Large devices (laptops and desktops:1200px and up)*/
    @media screen and (min-width:1200px) {
        body::-webkit-scrollbar {
            display: none;
        }

        main {
            display: flex;
            flex: 1 0 auto;
            width: 100%;
            overflow: hidden;

        }

        #main-photo {

            width: 1366px;
        }


        #horizontal-line {
            display: none;
        }

        #benefit-text {

            padding-left: 150px;
        }

        #why-with-us-text {

            padding-left: 200px;
        }
    }