@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*Asterisk wildcard selector used to overide default browser added styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic style*/
    color: #3a3a3a;
    font-family: 'Open sans', 'sans-serif';
}



/*Header*/
header {
    background-color: #ffffff;
    padding: 0 0.5rem;
    position: fixed;
    z-index: 50;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    flex: 1 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
}

#header-menu {
    font-size: 120%;
    list-style-type: none;
    letter-spacing: 4px;

}

#header-menu>li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Add dropdown toggle to nav bar with some styling*/
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
}


h1 {
    font-family: 'Montserrat', 'sans-serif';
    text-transform: uppercase;

}

/*Main content*/
main {
    background-color: goldenrod;
    display: flex;
    /*Occupy available space to push footer down*/
    flex: 1 0 auto;
    margin-top: 36px;
}

/*Footer*/
footer {
    background-color: lightblue;
}


/*Media query for phone screens (280px and more)*/
@media screen and (min-width:280px) {

    /*h1 resize to keep it on a single row for phone screens*/
    #logo {
        font-size: 28px;
    }

}


/*Media query for tablets and larger screens (768px and more)*/
@media screen and (min-width:768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #header-menu {
        display: flex;
    }

    #header-menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main*/
    main {
        /*Push main content further down to accommodate header's new size*/
        margin-top: 76px;

    }
}

/**/
@media screen and (min-width:992px) {
    #header-menu a:hover {
        /*Show nav item is a link by underlining it when hovered*/
        border-bottom: 1px solid #3a3a3a;


    }


}